<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Document</title>
    <!--引入vue js库-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
      .current {
        color: orange;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <alert-box>有bug</alert-box>
      <alert-box>警告</alert-box>
      <alert-box></alert-box>
      <base-layout
        ><p slot="header">标题</p>
        <p>内容1</p>
        <p>内容2</p>
        <p slot="footer">底部</p>
      </base-layout>
      <base-layout>
        <template slot="header">
          <p>标题1</p>
          <p>标题2</p>
        </template>
        <template>
          <p>内容1</p>
          <p>内容2</p>
        </template>
        <template slot="footer">
          <p>底部1</p>
          <p>底部2</p>
        </template>
      </base-layout>
      <fruit-list :list="list">
        <template slot-scope="slotProps">
          <strong v-if="slotProps.info.id == 2" class="current">{{slotProps.info.name}}</strong>
        </template>
      </fruit-list>
    </div>
    <script type="text/javascript">
      'use strict'
      Vue.component('alert-box', {
        template: `
                <div>
                    <strong>ERROR:</strong>
                    <slot>默认内容</slot>
                </div>
            `
      })
      Vue.component('base-layout', {
        template: `
                <div>
                    <header>
                        <slot name='header'></slot>
                    </header>
                    <main>
                        <slot></slot>
                    </main>
                    <footer>
                        <slot name='footer'></slot>
                    </footer>
                </div>
            `
      })
      Vue.component('fruit-list', {
        props: ['list'],
        template: `
              <div>
                <li v-for='item in list' :key='item.id'>
                  <slot :info='item'>{{item.name}}</slot>
                </li>
              </div>
            `
      })
      // eslint-disable-next-line no-unused-vars
      let nw = new Vue({
        el: '#app', // 对象挂载元素id
        data: {
          // 数据模型
          list: [
            { id: 1, name: 'apple' },
            { id: 2, name: 'orange' },
            { id: 3, name: 'banana' }
          ]
        }
      })
    </script>
  </body>
</html>
